<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">RIMS</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class ="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class ="nav-link" href="/logout">Log Out</a>
    </li>
    <li>
      <a class="nav-link" href="/fleet">Modify Fleet</a>
    </li>
    <li>
      <a class="nav-link" href="/customer">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/create">Open Agreement</a>
    </li><li class="nav-item">
      <a class="nav-link" href="/return">Return Agreement</a>
    </li>
    </li><li class="nav-item">
      <a class="nav-link" href="/history">History</a>
    </li> 
  </ul>
</nav>