body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cForm {
  width: 400px;
  margin-right: auto;
}

.cForm label {
  padding-left: 5px;
  width: 150px;
}

fieldset {
  border: solid .5px;
}

fieldset legend {
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  background-color: #CCC;
}

.searchResultHeader {
  padding-top: 10px;
}

#listbox {
  padding-top: 10px;
  padding-bottom: 20px;
}

#listbox h6 {
  padding-left: 5px;
}

#listbox select {
  width: 100%;
}

#listbox legend {
  width: 80%;
}

.btnLoad {
  margin-top: 10px;
}

#searchForm {
    padding-bottom: 10px;
}

footer {
  padding-top: 10px;
}

.navRight {
  float: right;
}
