<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>About Us</h1>
    <p>The Rental Inventory Management System or 'RIMS' is dedicated to the management of vehicle inventory for businesses in need of such a service.
       This service is intended to perform needed tasks for these businesses such as tracking inventory, modifying vehicle statuses, as well as creating customer agreements.
    </p>
    <p>
      'RIMS' was created in 2022 throughout an 8-week Information Technology course with the dedication of four students, Matt Wudi, Connor MacNicol, Danial Kappus, and Tyler Grant.
      It is our sincerest hope that users find our product useful and able to accomplish the needs of their business.
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>