<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
  <div class="jumbotron">
    <h1>Sign into your account</h1>
  </div>

  <ul>
    <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
  </ul>

  <ul>
    <% if(messages.error){ %>
      <li><%= messages.error %></li>
    <% } %>
  </ul>

  <div>
    <form action="/login" method="POST">

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
      </div>

      <br>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
      </div>

      <br>

      <div>
        <input type="submit" class="btn btn-primary" value = "Login">
      </div>

      <br>

      <a href = "/register">Need to sign up? Register here!</a>

    </form>
  </div>
</main>
<script>

</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>