<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
  <div class="jumbotron">
    <h1>You have been logged out.</h1>

    <br>

    <a href = "/login">Need back in? Click here!</a>

    <br>
    <br>

    <a href = "/register">Need to sign up? Register here!</a>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>