<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
  <div class="jumbotron">
    <h1>Registration</h1>
    <p>Fill out the form below to register</p>
  </div>

  <div>
    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li><%= error.message %></li>
        <% }) %> <% } %>
      </ul>
  </div>

  <div>
    <form action="/register" method="POST">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control col-5" id="name" name="name" placeholder="Enter Name" required>
      </div>

      <br>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control col-5" id="email" name="email" placeholder="Enter Email" required>
      </div>

      <br>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control col-5" id="password" name="password" placeholder="Enter Password" required>
      </div>

      <br>

      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control col-5" id="password2" name="password2" placeholder="Confirm Password" required>
      </div>

      <br>

      <div>
        <input type="submit" class="btn btn-primary" value = "Register">
      </div>

      <br>

      <a href = "/login">Already Registered? Login here!</a>
    </form>
  </div>

</main>
<script>

</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>